extends layout

block content
    div.container
        h1(class="text-center") Agregar Alumno
        form(action='/alumnos-add', method='post')
            div(class="input-group mb-2 " style="width: 500px" class="mx-auto")
                label.bg-success.bg-gradient(for='nombre' class="input-group-text"  style="width: 100px") Nombre:
                input.form-control(type='text', id='nombre', name='nombre', required=true class="border border-success")
            br
            div(class="input-group mb-2" style="width: 500px" class="mx-auto")
                label.bg-success.bg-gradient(for='apellido' class="input-group-text"  style="width: 100px") Apellido:
                input.form-control(type='text', id='apellido', name='apellido', required=true class="border border-success")
            br
            div(class="input-group mb-2 " style="width: 500px" class="mx-auto")
                label.bg-success.bg-gradient(for='email' class="input-group-text" style="width: 100px")  Email:
                input.form-control(type='text', id='email', name='email', required=true class="border border-success")
            br
            div(class="input-group mb-2" style="width: 500px" class="mx-auto")
                label.bg-success.bg-gradient(for='telefono' class="input-group-text"  style="width: 100px") Telefono:
                input.form-control(type='text', id='telefono', name='telefono', required=true class="border border-success")
            br
            div(class="d-grid gap-2 col-2 mx-auto")
                button(type='submit' class="btn btn-outline-success") Agregar Alumno
        div(class="d-grid gap-2 col-2 mx-auto")
            a(href='/alumnos' class="btn btn-outline-success") Volver a la Lista
            br
