 extend 

 block content 
    h1 Bienvenido, #{user || 'invitado'}

    if user
        p 
            (href = "/logout") Cerrar sesión 
    else
        p
            a(href = "/login") Iniciar Sesión 

        
    
            