extends layout

block content
    div.container 
        h1(class="text-center") Iniciar Sesión
        div
            form(action='/login', method='post')
                div(class="input-group mb-2 " style="width: 500px" class="mx-auto")
                    label.bg-success.bg-gradient(for='username' class="input-group-text"  style="width: 110px" ) Usuario:
                    input.form-control(type='text', id='username', name='username', required class="border border-success")
                br
                div(class="input-group mb-2 " style="width: 500px" class="mx-auto")
                    label.bg-success.bg-gradient(for='password' class="input-group-text"  style="width: 110px") Contraseña:
                    input.form-control(type='password', id='password', name='password',
                        required class="border border-success")
                br
              
                div(class="d-grid gap-2 col-2 mx-auto")
                    button(type='submit'  class="btn btn-outline-success") Iniciar Sesión
            