extends layout

block content
    div.container
        h1(class="text-center") Eliminar Profesor
        p(class="text-center") ¿Estás seguro de que deseas eliminar al Profesor con el siguiente detalle?
    div.container(style="width: 500px" class="mx-auto")
        ul(class="list-group" class="border border-success")
            li(class="list-group-item" style="border-bottom: 1px solid #198754;") Nombre: #{profesor.nombre} 
            li(class="list-group-item" style="border-bottom: 1px solid #198754;") Apellido: #{profesor.apellido}
            li(class="list-group-item") Email: #{profesor.email}
        br
    div( class="d-grid gap-2 col-2 mx-auto")
        form(action=`/profesores-delete/${profesor.id}`, method='post' class="d-grid gap-2 col-10 mx-auto")
            button(type='submit' class="btn btn-outline-success") Eliminar Profesor
        a(href='/profesores' class="btn btn-outline-success") Cancelar
        br